@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Model.Name Department</h1>

<form method="post" asp-action="Delete">
    <partial name="PartialViews/DetialsDeletePartial"></partial>
    <div class="form-group mt-3">
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-secondary" asp-action="Index">Back</a>
    </div>
</form>


